.UserInfo{
    text-align: center;
    border: 3px solid green;
}
.UserInfoDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}
p.normal {
    font-weight: normal;
  }

p.thick {
    font-weight: bold;
  }
  
p.thicker {
    font-weight: 900;
  }